
  
  .product--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  
  .carde {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    padding: 6px;
    border-radius: 0.8rem;

  }

  .cardeInner_container {
    width: 100%;
    padding: 8px;
  
  }

  .cardeImage-container {
    width: 100%;
    height: 16rem;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  
  .Cardprice {
    color: grey;
    font-size: 22px;
  }

  
.info-carde {
  width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}