.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  color: black !important;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 2px solid #e8e8e8;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  margin: 0 auto;
  padding: 0 20px;
  background-color: white;
  max-width: 1740px;
  gap: 4px !important;
}

.logo {
  font-size: 24px;
  width: 18vw;
}

.logo img {
  height: 8vh;
  width: 9.5vw;
  object-fit: cover;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.cart {
  font-size: 22px !important;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.banner {
  height: 70px;
  background-color: #fdfdfd;
  margin-top: 60px;
  border-bottom: 2px solid #e8e8e8;
}

.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
}

.closebtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 200px;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
}

.dropdown-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
}

.dropdown-menu.show {
  display: block;
}

.notification {
  display: block;
  position: relative;
  top: auto;
  left: auto;
  border-radius: 50%;
  border: 1px solid #212121;
  box-sizing: border-box;
  font-size: 18px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hove:hover {
  border-bottom: 3px solid #df3d22;
}

.signup {
  -ms-flex-negative: 0;
  background-color: #f60;
  border-radius: 24px;
  color: #fff !important;
  cursor: pointer;
  display: block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  outline: none;
  padding: 0 28px;
  text-align: center;
}

.signup:hover {
  background-color: rgb(156, 64, 3);
}

.login {
  font-size: 20px;
  font-weight: 700;
}

.login:hover {
  border-bottom: 4px solid rgb(223, 61, 34);
}

.innerbanner {
  width: 87%;
  max-width: 1440px !important;
  font-size: 14px;
}

@media (max-width: 1440px) {
  .innerbanner {
    width: 87% !important;
    font-size: 14px;
  }

  .menu {
    margin-left: 12px;
  }
}

@media (max-width: 1024px) {
  .innerbanner {
    width: 100% !important;
  }
  .innerbanner li {
    font-size: 12px !important;
  }
}

@media (max-width: 768px) {
  .loginsign {
    display: none !important;
  }
 


  .menu {
    gap: 0.8rem !important;
  }

  .menu a {
    margin-left: 1px;
  }

  .container {
    padding: 0px 12px !important;
  }
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
  }

  .show a {
    margin: 10px 0;
  }

  .change {
    background-color: #f1f1f1;
  }

  /* .logo {
    font-size: 24px;
    width: 213px;
  } */
}
